<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Book</h1>
    <img src="/assets/<%= data.image %>" alt="" width="250px" />
    <form
      action="book/edit/<%= data._id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <input
        type="text"
        placeholder="Book Name"
        name="bookname"
        value="<%= data.bookname %>"
      />
      <input
        type="text"
        placeholder="Author Name"
        name="authorname"
        value="<%= data.authorname %>"
      />
     
    <input
    type="text"
    placeholder="price"
    name="price"
    value="<%= data.price %>"
  />
      <input
        type="file"
        placeholder="description"
        name="description"
        value="<%= data.description %>"
      />
      <input type="submit" />
    </form>
  </body>
</html>
