<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Book</h1>
    <img src="/assets/<%= data.image %>" alt="" width="250px">
    <form action="/edit/<%= data._id %>" method="post" enctype="multipart/form-data">
         <input type="text" placeholder="Name" name="name" value="<%= data.name %>">
         <input type="text" placeholder="author" name="author" value="<%= data.author %>">
         <input type="file" placeholder="Book Image" name="image" value="<%= data.image %>">
         <input type="submit">
    </form>
</body>
</html>